# React Bits Pro license key for shadcn CLI installs (components.json registries).
# Copy to .env.local at repo root (or set in shell before npx):
#   $env:REACTBITS_LICENSE_KEY = "<your-key>"
#   npx shadcn@latest add @reactbits-starter/radial-liquid-css --yes
REACTBITS_LICENSE_KEY=
